/* CSS Document */


.contenthead {
background-image:url(/motorzone/images/button.gif);
background-repeat:repeat-x;
height:15px;
font-family:Tahoma;
padding-left:5px;
font-size:11px;
font-weight:bold;
color:#0070D4;
text-align:left;
padding-bottom:8px;
}

.pageContent {
background-image:url(/motorzone/images/content-head-bg.gif);
background-repeat:repeat-x;
height:15px;
font-family:Tahoma;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-align:center;
}

.contentsub {
background-image:url(/motorzone/images/button.gif);
background-repeat:repeat-x;
height:15px;
font-family:Tahoma;
padding-left:5px;
font-size:11px;
font-weight:bold;
color:#0070D4;
text-align:left;
padding-bottom:8px;
}

table {
border:1px solid #FFFFFF; 
}

.text1 {
font-family:Tahoma;
font-size:10px;
color:#333333;
background-color:#E9FBFF;
padding-left:10px;
}
.text2 {
font-family:Tahoma;
font-size:10px;
color:#333333;
background-color:#FFFFFF;
padding-left:10px;
}

.pathText {
font-family:Tahoma;
font-size:11px;
font-weight:bold;
color:#333333;
background-color:#FFFFFF;
padding-left:10px;
}


.message {
font:Arial, Helvetica, sans-serif; 
color:#207B30;
font-weight:bold;
}

.button {
font-family:Tahoma;
font-size:12px;
color:#FFFFFF;
border:1px solid #FFFFFF;
background-color:#EB3BA5;
}
.textbox {
font-family:Tahoma;
font-size:12px;
border:1px solid #1568A1;
background-color:#FFFFFF;
}
.textfull {
font-family:Tahoma;
font-size:12px;
text-align:justify;
}

html {scrollbar-face-color: #42B5CD;
scrollbar-shadow-color: #2C92A7;
scrollbar-highlight-color: #95D6E3;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF;}

.blue {font-family:Arial;
font-size:18px;
background-color:#2298FA;
color:#FFFFFF;
font-weight:bold;
}
.bluetextbox {font-family:Arial;
font-size:14px;
background-color:#2298FA;
color:#FFFFFF;
font-weight:bold;
border:1px solid #2298FA;
}
.bluetext {font-family:Arial;
font-size:14px;
background-color:#2298FA;
color:#FFFFFF;
font-weight:bold;
}

.bluetext1 {font-family:Arial;
font-size:12px;
background-color:#2298FA;
color:#FFFFFF;

}


.add	{
border:1px solid #1F7F96; 
background-image: url(/motorzone/css/images/modify.gif);
background-repeat:no-repeat;
vertical-align:left;
background-position:right;
padding-left:2px;
padding-right:5px;
background-color:#FFFFFF; 
font-family:Arial, Helvetica, sans-serif; 
color:#000000; 
}
.add1	{
border:1px solid #1F7F96; 
background-image: url( /motorzone/css/images/add.gif);
background-repeat:no-repeat;
vertical-align:middle;
background-position:left;
padding-left:5px;
background-color:#FFFFFF; 
font-family:Arial, Helvetica, sans-serif; 
color:#000000; 
}

.add2	{
border:1px solid #1F7F96; 
background-image: url( /motorzone/css/images/modify2.gif);
background-repeat:no-repeat;
vertical-align:middle;
background-position:left;
padding-left:5px;
background-color:#FFFFFF; 
font-family:Arial, Helvetica, sans-serif; 
color:#000000; 
}

.border{
border:1px;
border-color:#C4F5FF;
border-style:solid;
}
